{% extends 'users/auth_layout.html' %}

{% block title %} {{obj_tab_titles.login_page}} {% endblock %}

{% block content %}
<!--<div class="base_center">
        <h1>Вход в аккаунт</h1>
        <p1>Заполните форму авторизации</p1>
            <p></p>
        <button id="sign_up_btn" class="button" onclick="location.href='{% url 'signup' %}'">Зарегистрироваться</button>
        <button id="log_in_btn" class="button" onclick="location.href='{% url 'login' %}'">Войти</button>
    </div>-->
  <div class="base_center">
      <h1>Вход в аккаунт</h1>
        <p1>Заполните форму авторизации</p1>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}