{% extends 'users/auth_layout.html' %}

{% block title %} {{obj_tab_titles.login_page}} {% endblock %}

{% block content %}
  <div class="base_center">
      <h1>Регистрация аккаунта</h1>
        <p1>Заполните форму регистрации</p1>
    <form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Register">
</form>
      <button id="sign_up_btn" class="button" onclick="location.href='{% url 'empty_home' %}'">На стартовую страницу</button>
      <button id="log_in_btn" class="button" onclick="location.href='{% url 'login' %}'">Войти</button>
  </div>
{% endblock %}